body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  color: #535e66;
  background-color: #eee;
  width: 100%;
}

.header {
  text-align: right;
  height: 50px;
  background-color: #fff;
  padding: 0px 40px 0px 40px;
}

.header > a {
  text-decoration: none;
  line-height: 50px;
  font-weight: bold;
  color: #535e66;
  padding: 0px 20px;
  display: inline-block;
}

.header > a.selected {
  border-bottom: 3px solid #535e66;
}

.App {
  text-align: center;
}

.login-field {
  padding-bottom: 10px;
}

.login-button {
  border: 1px solid #e0e6ec;
  border-radius: 6px;
  padding: 10px;
  background-color: white;
  color: #535e66;
}

.password-list {
  list-style-type: none;
  padding: 0px;
}

.get-more-button {
  border: 1px solid #e0e6ec;
  background-color: white;
  border-radius: 6px;
  padding:10px;
  color: #535e66;
  font: 13px "Century Gothic", Futura, sans-serif;
}

.get-more-button:focus {
    outline: none;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14) ;
}
